.Processing{
    color: rgba(255, 247, 0, 0.882)
}

.Delivered{
    color:rgb(43, 208, 226)
}

.tblCont{
    padding: 5rem;
}

@media screen and (max-width: 480px) {
    .tblCont{
        padding: 5rem 0rem;
    }
    
}