.container{
    height: 40rem;
    /* width: full; */
    /* color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.box{
    margin-top: 2rem;
    width: 30rem;
    height: 35rem;
    background: #000;
    overflow: hidden;
}


.headingU {
    transition: all 0.5s;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    background: #3027ae;
}

.headingU:hover {
    background: #635dc0;
}

.updatePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    /* height: 5rem; */
    
}

.updatePasswordForm >div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}

.updatePasswordForm >div >input {
    padding: 1rem 1rem 1rem 4rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #3027ae;
    border-radius: 4px;
    background: #000;
    outline: none;
}
.updatePasswordForm >div >.svg {
    position: absolute;
    transform: translateX(1rem);
    color: #635dc0;
}


.updatePasswordBtn {
    background-color: #3027ae;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    width: 100%;
    margin-top: 3rem;
}

.updatePasswordBtn:hover{
    background-color: #635dc0;
}

@media screen and (max-width: 450px) {
    .container{
        height: 30rem;
    }
    .headingU {
        font-size: 1.2rem;
        padding: 0.8rem;
    }
    .updatePasswordForm {
        padding: 2rem 1rem;
    }
        
    .updatePasswordBtn {
        background-color: #3027ae;
        font-weight: 500;
        font-size: 1rem;
        padding: 1rem;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 4px;
        outline: none;
        width: 100%;
        margin-top: 1rem;
    }
    
}
